{{>navbarBanner}}

<nav class="">
  <div class="container-fluid mr-auto ">
    <div class="row bg-faded display-4 ">
      <div class="col-6 p-0 m-0">
        <button type="button" class="btn btn-block beingClicked"  name="button"> <a href="/newtest" class="navbar-nav text-center text-muted"> Nowy test</a> </button>
      </div>
        <div class="col-6 p-0" id="dividerDiv">
          <button type="button" class="btn btn-block btn-faded beingClicked" name="button">
            <a href="/database" class="navbar-nav text-center menu-button text-muted"> Baza testów</a>
          </button>
        </div>
    </div>
  </div>
</nav>
