<div class="jumbotron jumbotron-fluid bg-danger p-1" id="jumbo" >
  <div class="container-fluid">
    <div class="d-flex justify-content-between">
      <img class="img-fluid" src="assets/zoliborz_logo.png" alt="Scout district's logo">
      {{#if needsLogOutBtn}}
      <a href="/logout" class="my-auto">
      <button type="button" class="btn btn-outline-warning h-25 "><i class="fa fa-user-times" aria-hidden="true"></i> Wyloguj</button>
      </a>
      {{/if}}
    </div>
    <h1 id="test"class="text-center">Test przewodnikowski</h1>
    <h2 id="ksi"class="text-right  ">Komisji Stopni Instruktorskich</h2>
  </div>
</div>
