<!DOCTYPE html>
<html>
<head>
  <title>Test przewodnikowski</title>
  <script src="https://use.fontawesome.com/db9af920a2.js"></script>
  <!-- THE SETUP PARTIAL -->
  {{> head}}
</head>
<body class="wrapper">
  <!-- OUR NAVIGATION BAR PARTIAL -->
  {{>navbar}}
  <!--  MAIN BODY ================================== -->
  <div class="mt-5">
    <h2 class="text-center">SZUKAJ TESTU..</h2>
  <form class="form-inline w-50 p-1 rounded mx-auto " style="background-color:grey ;" action="/database/filter">
  <div class="form-group mx-auto">
    <label for="inputPassword2" class="sr-only">Imię lub nazwisko</label>
    <input type="text" class="form-control" id="inputPassword2" placeholder="imię lub nazwisko próbanta" name="name">
    <button type="submit" class="btn btn-primary"><i class="fa fa-search " aria-hidden="true"></i></button>
  </div>
</form>
</div>

{{#if testAddSucces}}
<div class="alert alert-success w-75 mx-auto mt-2 text-center addTestAlert" role="alert">
  {{testAddSucces}}
</div>
{{/if}}
{{#if testAddFailure}}
<div class="alert alert-danger w-75 mx-auto mt-2 text-center addTestAlert" role="alert">
  {{testAddSucces}}
</div>
{{/if}}

  <div class="card-deck m-5" id="cardDeck" >
    <div class="row m-2">
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top w-100" src="./assets/SampleTest.jpg" alt="Card image cap" >
          <div class="card-block">
            <h4 class="card-title text-center">Iks Iksiński</h4>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Data pisania testu: </h5>
              </div>
              <div class="col-4">
                <p class="card-text">16.07.2017 </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Status </h5>
              </div>
              <div class="col-4">
                <p class="card-text">ZALICZYL </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Środowisko </h5>
              </div>
              <div class="col-4">
                <p class="card-text">Po drodze</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Ostatnia aktualizacja: X min temu</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top w-100" src="./assets/SampleTest.jpg" alt="Card image cap" >
          <div class="card-block">
            <h4 class="card-title text-center">Iks Iksiński</h4>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Data pisania testu: </h5>
              </div>
              <div class="col-4">
                <p class="card-text">16.07.2017 </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Status </h5>
              </div>
              <div class="col-4">
                <p class="card-text">ZALICZYL </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Środowisko </h5>
              </div>
              <div class="col-4">
                <p class="card-text">Po drodze</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Ostatnia aktualizacja: X min temu</small>
          </div>
        </div>
      </div>
      <div class="col-md-4">
        <div class="card">
          <img class="card-img-top w-100" src="./assets/SampleTest.jpg" alt="Card image cap" >
          <div class="card-block">
            <h4 class="card-title text-center">Iks Iksiński</h4>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Data pisania testu: </h5>
              </div>
              <div class="col-4">
                <p class="card-text">16.07.2017 </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Status </h5>
              </div>
              <div class="col-4">
                <p class="card-text">ZALICZYL </p>
              </div>
            </div>
            <div class="row">
              <div class="col-8">
                <h5 class="card-text">Środowisko </h5>
              </div>
              <div class="col-4">
                <p class="card-text">Po drodze</p>
              </div>
            </div>
          </div>
          <div class="card-footer">
            <small class="text-muted">Ostatnia aktualizacja: X min temu</small>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!--.js resources for bootstrap and Jquery -->
  {{>JSresources}}
  <script src="./controllers/dataBaseMechanism.js" charset="utf-8"></script>
</body>
</html>
